<table>
    <tr>
        <td></td>
        <td class="logo body">
            <img src="https://laundree.io/images/mail_logo.png">
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <h1>Reset your password</h1>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="body">
            Hi {{{user.displayName}}}<br />
            <br />
            This email is an response to your request to reset your password. <br/>
            To reset your password follow the link below within the next 60 minutes.<br />
            <br />
            <a href="https://laundree.io/auth/reset?user={{{user.id}}}&token={{{token}}}">https://laundree.io/auth/reset?user={{{user.id}}}&token={{{token}}}</a><br />
            <br />
            If you did not request to reset your password, please ignore this email.<br />
            <br />
            Best,<br />
            Your laundree team!
        </td>
        <td></td>
    </tr>
</table>
